anyio==3.5.0
asgiref==3.5.0
asn1crypto==1.5.1
asyncpg==0.25.0
click==8.0.4
databases==0.5.5
fastapi==0.75.0
greenlet==1.1.2
h11==0.13.0
idna==3.3
pg8000==1.24.1
psycopg2-binary==2.9.3
pydantic==1.9.0
scramp==1.4.1
sniffio==1.2.0
SQLAlchemy==1.4.32
starlette==0.17.1
typing-extensions==4.1.1
uvicorn==0.17.6

alembic~=1.7.7